.slide-cover h2 {
    margin: 30px 0 0;
    color: white;
    text-align: center;
    font-size: 70px;
}

.slide-cover p {
    margin: 10px 0 0;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 20px;
}

.slide-cover p a {
    color: white;
}